// Imports
// ------------------------------

@import 'partials/variables';
@import 'partials/mixins';

// General
// ------------------------------
.invis {
    opacity: 0 !important;
}

.visible-scaled {
    opacity: 1 !important;
    transform:scale(1);
}

.selectable-text:hover {
    color:white !important;
}

a{
    color:$color-subtle-2;
}
a:hover{
    color:white;
}

// Body
// ------------------------------

body {
  position: relative;
  background-color: $color-body;
  overflow: hidden;
}

.sidebar-content-dim {
    position: absolute;
    pointer-events: none;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    opacity: 0;
    z-index: 4;
    top:0;
    left:0;
    @include ease(0.3s);
}

.dim-visible {
    opacity: 1;
    pointer-events: all;
}

// Content div
// ------------------------------

.content {
  display: inline-block;
  opacity: 1;
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
  @include ease-out(0.75s);
}

.content-bg {
  position: absolute;
  z-index: -2;
  opacity: 0.5;
  min-width: 100vw;
  min-height: 100vh;
  @include ease(0.75s);
}

// Bot Content
// ------------------------------

.bot-content {
    position: relative;
    bottom: -48px;
    height: 150px;
    z-index: 4;
    pointer-events: none;
    width: 100%;
    text-align: center;
    @include gradient-bottom($color-base);
}


.lock-in-role {
    line-height: 63px;
    color: White;
    font-size: 20px;
    font-weight: 800;
    width: 210px;
    height: 62px;
    text-align: center;
    letter-spacing: 0.12em;
    margin: auto;
    position: relative;
    z-index: 5;
    border: 2px solid transparent;
    background: rgba(0, 0, 0, 0.3);
    text-transform: uppercase;
    @include ease(0.3s);
}

.lock-in-role:hover {
    border: solid 2px #313d4b;
}

.lock-in-ready {
    border: 2px solid transparent;
}
