// Imports
// ------------------------------

@import 'partials/variables';
@import 'partials/mixins';



// Menu Bar Top
// ------------------------------
.menu-bar-top {
    position: relative;
    z-index: 1;
    height: 131px;
    @include font-default($color-subtle-2);
    @include gradient-top($color-base);
    width: 100%;
}


.menu-bar-top-game-link {
    display: inline-block;
    margin-top: 51px;
    z-index: 1;
    margin-left: 5px;
    text-transform: uppercase;
    @include ease(0.25s);
}


.menu-logo {
    vertical-align: top;
    height: 32px;
    margin-top: 45px;
    padding-left: 5%;
    padding-right: 4px;
}

.menu-logo-font {
    vertical-align: top;
    height: 16px;
    margin-top: 54px;
}

.menu-icons {
    display: inline-block;
    vertical-align: super;
    position: relative;
}

.menu-ico-desc {
    text-transform: uppercase;
    padding-right: 10px;
    cursor: pointer;
    @include ease(0.25s);
}

.menu-bar-ico:hover > .menu-ico-desc {
    margin-left: -15px;
    opacity: 1;
}

.desc-hidden {
    opacity: 0;
    margin-left: -55px;
    pointer-events: none;
}

.menu-options {
    float: right;
    margin-right:5%;
}

.menu-ico-desc-2 {
    text-transform: uppercase;
    padding-right: 10px;
    margin-left: -15px;
    @include ease(0.25s);
}

.desc-hidden-2 {
    opacity: 0;
    margin-left: -65px;
    pointer-events: none;
}

.desc-hidden-3 {
    opacity: 0;
    margin-left: -115px;
    z-index: -1;
    pointer-events: none;
}

.menu-ico-wr {
    width: 49px;
    display: inline-block;
}

.menu-play {
    display: inline-block;
    position: relative;
    top: -1px;
    height: 113px;
    line-height: 134px;
    cursor: pointer;
    padding: 0 63px;
    @include ease(0.25s);
    @include gradient-border($color-subtle-3, transparent);
        }

.menu-play:hover {
    opacity: 0.5;
}

.menu-create {
    display: inline-block;
    padding: 0px 30px;
    height: 103px;
    line-height: 120px;
    text-align: center;
    cursor: pointer;
    @include ease(0.25s);
}

.menu-create:hover {
    opacity: 0.5;
}

.create-ico {
    display: inline-block;
    margin-bottom: 12px;
    margin-right: 2px;
    width: 23px;
}

.create-text {
    text-transform: uppercase;
    letter-spacing: 0.1em;
    position: relative;
    top: -4px;
}

.play-ico {
    display: inline-block;
    position: relative;
    top: -3px;
    margin-bottom: 6px;
    margin-right: 5px;
    width: 20px;
}

.play-text {
    position: relative;
    top: -4px;
    color: $color-accent !important;
    text-transform: uppercase;
    letter-spacing: 0.1em;
}

.play-bloom {
    position: relative;
    height: 103px;
    margin-left: -145px;
    left: 45px;
    top: -7px;
}
.menu-create-filters {
    position: absolute;
    top: 0px;
    line-height: 0;
    cursor: auto;
}

.filter-game-modes {
    margin-top: 35px;
}

.filter-entry {
    display: inline-block;
    position: absolute;
    line-height: 0;
    top: 70px;
    margin-left: -75px;
    cursor: auto;
}
.filter-entry-text {
    text-transform: uppercase;
    font-size: 12px;
}
.filter-entry-value {
    color: white;
}

.filter-mode:first-of-type {
    margin-left: 0;
}

.show-filters:hover {
    opacity: 1;
}

.show-filters {
    cursor: auto;
    pointer-events: none;
}

.user-menu {
    display: inline-block;
    vertical-align: super;
    position:relative;
    top:3px;
    z-index: 5;
    @include ease-out(0.55s);
}
.user-money {
    margin-left: 15px;
    @include font-default($color-subtle-2);
    @include ease(0.25s);
}
.side-menu {
    display: inline-block;
    margin-left: 15px;
    cursor: pointer;
}
.sidebar-menu-ico {
    height: 17px;
    margin-bottom: 3px;
    @include ease(0.25s);
}


// Menu Options
// ------------------------------


// Media Queries
// ------------------------------

@media (max-width:85em) {
    .menu-icons{
        display:none !important;
    }
}

@media (max-width:70em) {
    .menu-bar-top-game-link{
        display:none !important;
    }
}

@media (max-width:55em) {
    .create-text{
        display:none !important;
    }
}

@media (max-width:40em) {
    .menu-bar-top{
        position:relative;
        @include gradient-bg();
        @include drop-shadow();
        height:120px;
    }
    .menu-play{
        position:absolute;
        padding:0;
        top:0;
    }
    .menu-create{
        top:10px;
        padding:0 50px;
        margin-right:-25px;
    }
    .user-menu{
        position:absolute;
        left:25px;
        top:50px;
    }
    .menu-logo{
        display:none;
    }
    .menu-logo-font{
        margin-left:95px;
    }
    .user-money{
        display:none !important;
    }
}

@media (max-width:32em) {
    .play-text{
        display:none !important;
    }
    .play-bloom{
        display:none !important;
    }
    .menu-play{
        padding:0 !important;
        width:0;
        margin:0;
        border: 0px solid transparent !important;
    }
    .menu-options{
        white-space: nowrap;
    }
}
